:root{
    --color: #333;
    --back: #fff;
}
body{
    background: var(--back);
    margin: 0;
    min-height: 100vh;
}
nav{
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav .left{
    display: flex;
    align-items: center;
    margin-left: 9px;
}
nav .menubtn{
    font-size: 27px;
    color: #fff;
    display: none;
    cursor: pointer;
}
.logo{
    margin-left: 9px;
    text-decoration: none;
    font-size: 29px;
    color: #fff;
    font-weight: bold;
    width: max-content;
    user-select: none;
}
nav .right{
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: 100%;
    justify-content: right;
}
.search{
    display: flex;
    align-items: center;
    background: var(--back);
    overflow: hidden;
    width: 591px;
    margin-right: 9px;
}
.search input{
    margin-left: 15px;
    font-size: 17px;
    color: var(--color);
    background: none;
    outline: none;
    padding: 2px;
    border: none;
    width: 100%;
}
.search button{
    background: rgb(230, 0, 0);
    color: #fff;
    outline: none;border: none;
    padding: 12px 29px;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
}
nav .right a{
    text-decoration: none;
    color: var(--color);
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 9px;
}
.div{
    display: flex;
    align-items: flex-start;
    height: 100%;
}
.menu{
    display: flex;
    flex-direction: column;
    min-width: 291px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.268);
    height: 100%;
    min-height: 90vh;
}
.menu .close{
    color: #333;
    font-size: 27px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    cursor: pointer;
}
.menu h3{
    margin: 9px;
    color: var(--color);
    font-size: 27px;
    margin-left: 15px;
}
.menu a{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    padding: 9px 0;
    transition: 0.4s;
    color: var(--color);
}
.menu a:hover{
    background: #e6e6e65b;
}
.menu a p{
    margin: 5px;
    margin-left: 12px;
    font-size: 19px;
}
.menu a span{
    font-size: 19px;
    margin-right: 9px;
}
.grid{
    width: 91%;
    padding: 9px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    overflow: hidden;
}
.item{
    width: 100%;
    overflow: hidden;
    background: var(--back);
    border: 2px solid #eee;
    border-radius: 15px;
    text-decoration: none;
}
.item h1{
    margin: 5px;
    font-size: 32px;
    color: var(--color);
    margin-left: 15px;
    margin-top: 9px;
    transition: 0.4s;
}
.item .des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    padding: 9px 0;
    color: var(--color);
}
.item:hover .des{
    background: #dfdfdf3d;
}
.item:hover h1{
    color: red;
}
.item .des p{
    font-size: 19px;
    margin: 5px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.item .des p span{
    margin: 3px;
}
.item .des .more{
    font-size: 19px;
    margin-right: 15px;
}
.searchdiv{
    padding: 9px 0;
    display: flex;
    justify-content: center;
    display: none;
}
.searchdiv .searchbar{
    margin: 0;
    width: 91%;
    border: 2px solid #eee;
}
.right .searchshow{display: none;}
.doc{
    width: 100%;
    height: 100%;
    margin: 51px;
    position: relative;
}
.head{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.doc .title{
    margin: 9px;
    margin-left: 19px;
    color: var(--color);
    font-size: 36px;
}
.doc .d{
    display: flex;
    align-items: center;
    color: var(--color);
    margin-left: 19px;
}
.material-symbols-outlined{user-select: none;}
.doc .d span{
    font-size: 24px;
    user-select: none;
}
.doc .d p{
    margin: 5px;
    font-size: 17px;
}
.doc .content{
    background: #cecece4f;
    width: 100%;
    border-radius: 4px;
    padding: 7px 0;
    margin-top: 19px;
}
.doc .content p{
    margin: 9px;
    color: var(--color);
    font-size: 19px;
}
.doc .content p span{
    color: royalblue;
}
.doc .content h3{
    font-size: 24px;
    color: var(--color);
    margin: 9px;
    margin-left: 12px;
    margin-top: 15px;
}
.example{
    background: #333;
    color: white;
    margin: 5px 9px;
    padding: 12px;
    
    word-break: break-all;
    font-size: 18px;
}
.head .right{
    display: flex;
    align-items: center;
    outline: 3px solid royalblue;
    border: 2px solid royalblue;
    border-radius: 4px;
    outline-offset: 2px;
}
.visit{
    text-decoration: none;
    color: royalblue;
    padding: 7px 23px;
    font-size: 17px;
    user-select: none;
    transition: 0.4s;
    border: 1px solid transparent;
}
.visit:hover{
    background: royalblue;
    color: white;
}
.copy{
    text-decoration: none;
    color: white;
    background: royalblue;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid royalblue;
    user-select: none;
    transition: 0.4s;
}
.copy:hover{
    color: #333;
}
.copy span{font-size: 20px;}
.toast{
    position: fixed;
    left: 0;
    bottom: -10vh;
    background: rgb(45, 45, 45);
    color: white;
    margin: 12px;
    border-radius: 4px;
    transition: 0.4s;
    padding: 9px 19px;
    font-size: 19px;
}
.api{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background: #c9c9c93b;
    border: 1px solid #eee;
    color: white;
    margin: 3px 9px;
    border-radius: 4px;
    padding: 3px 0;
}
.api p:nth-child(1){
    color: rgb(2, 192, 2);
    font-weight: bold;
}
.api p a{
    color: royalblue;
    text-decoration: none;
}
table{
    background: var(--back);
    width: 98%;
    margin: 0 auto;
}
th{
    background: var(--color);
    color: var(--back);
    padding: 8px;
    font-size: 18px;
}
td{
    text-align: center;
    padding: 9px;
    color: var(--color);
    font-size: 19px;
}
td .true{
    font-size: 24px;
    color: rgb(9, 211, 9);
    user-select: none;
}
td .false{
    font-size: 24px;
    user-select: none;
    color: rgb(237, 0, 0);
}
.fab{
    position: fixed;
    right: 0;
    bottom: 0;
    background: red;
    color: var(--back);
    margin: 19px;
    width: 51px;
    height: 51px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.4s;
    outline: 2px solid white;
    outline-offset: -4px;
    transform: scale(1);
}
.fab:hover{
    outline-color: red;
    outline-offset: 2px;
}
.fab:active{
    transform: scale(0.91);
}
.fab span{
    font-size: 32px;
}
.res{
    position: fixed;
    z-index: 2;
    top: 100vh;
    left: 0;
    background: var(--back);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.res h1{
    margin: 9px;
    font-size: 36px;
    color: var(--color);
    text-align: center;
    word-break: break-all;
}
.res .json{
    background: #333;
    color: #fff;
    padding: 9px;
    font-size: 19px;
    margin: 9px 15px;
    word-break: break-all;
}
.res button{
    color: #fff;
    background: red;
    padding: 12px 36px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

@media(max-width:1222px){
    .logo{font-size: 27px;}
    .search{width: 519px;}
    .search input{font-size: 16px;margin-left: 12px;}
    .search button{font-size: 16px;padding: 10px 17px;}
    nav .right a{font-size: 20px;}
    .menu{min-width: 242px;}
    .menu h3{font-size: 23px;}
    .menu a p{font-size: 17px;}
    .menu a span{font-size: 17px;}
    .item h1{font-size: 27px;}
    .item .des{padding: 5px 0;}
    .item .des p{font-size: 17px;}
    .item .des p span{font-size: 19px;}
}
@media(max-width:1020px){
    nav .menubtn{display: block;}
    .menu{
        position: fixed;
        background: var(--back);
        top: 0;
        left: -369px;
        transition: 0.4s;
        z-index: 1;
    }
    .menu .close{display: block;}
    .grid{
        width: 100%;
    }
}
@media(max-width:829px){
    .logo{font-size: 25px;}
    .search{width: 100%;margin-left: 9px;}
    .search input{font-size: 15px;}
    .search button{font-size: 15px;padding: 9px 17px;}
    nav .right a span{font-size: 23px;}
    .grid{gap: 9px;}
    .item h1{font-size: 24px;}
    .item .des{padding: 2px 0;}
    .item .des p{font-size: 15px;}
    .item .des p span{font-size: 17px;}
    .item .des .more{font-size: 17px;}
}
@media(max-width:720px){
    .grid{grid-template-columns: repeat(2,1fr);}
    .doc{margin: 32px;}
    .doc .title{font-size: 32px;}
    .doc .content h3{font-size: 20px;}
    .doc .d span{font-size: 19px;}
    .doc .d p{font-size: 15px;margin: 3px;}
    .visit{font-size: 15px;padding: 7px 15px;}
    .copy span{font-size: 15px;}
    .doc .content p{font-size: 17px;}
    .example{font-size: 16px;}
}
@media(max-width:604px){
    .doc{margin: 9px auto;width: 91%;}
}
@media(max-width:565px){
    .right .searchshow{display: block;}
    nav .search{display: none;}
}
@media(max-width:500px){
    .logo{font-size: 23px;}
    .doc .title{font-size: 24px;}
    .doc .d p{font-size: 14px;}
    nav .menubtn{font-size: 24px;}
    .visit{font-size: 14px;padding: 5px 14px;}
    .copy span{font-size: 15px;}
    .copy{padding: 7px 9px;}
    .doc .content p{font-size: 15px;}
    .example{font-size: 14px;}
    .grid{grid-template-columns: repeat(1,1fr);gap: 7px;}
}